# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Folders
node_modules
dist
build
dist-ssr
*.local
__pycache__
.mypy_cache
.pytest_cache
.ipynb_checkpoints
.python-version
venv
instance
static

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Files
*.swp
*.log
*.ipynb
*.mo
*.sqlite
settings_local.py


.vagrant
*.egg-info
tmp
.tool-versions
.env
celerybeat-schedule*
migrator_dump.sql
